*{
  padding:0;
  margine:0;
  box-sizeing:border-box;
}
body{
  margin:60px;
  background-color:#fff;
  color:#333
}
.w{
  width:1170px;
  background-color:#eee;
  margin:0 auto;
}
.row{
  padding:80px;
}
.col-md-12 h1{
  font-size:66px;
  text-align:center;
}
.col-md-12 i{ 
  font-size:33px;
  font-weight:600;
  margin-left:255px;
}
.col-md-12 #picture{
  width:1035px;
  background-color:#fff;
}
.col-md-12 img{
  margin:10px 5px 1px 5px;
}
#picture p{
  font-size:15px;
  line-height:45px;
  color:#000;
  text-align:center;
}

#year h3{
  margin-left:-310px;
  margin-top:15px;
  text-align:center;
}
#year ul{
  display:inline-block;
  position:relative;
  left:180px;
}
#year .one{
 display:inline-block;
 font-size:22px;
 font-weight:600;
 margin-left:180px;
}
#year .two{
  font-size:16px;
  font-weight:normal;
  margin-left:180px;
}
#more{
  display:block;
  font-size:25px;
  line-height:30px;
  font-weight:600;
  margin-left:140px;
}